@import './less/basic.less';
@import './less/collapsible.less';
@import './less/forms.less';

body {
    background: #ccc;
}

#DonateComponent {
    background:#cc0000;
    h1 {
        background: #ffffff;
    }
}